$icomoon-font-path: "fonts" !default;

$icon-bullet: "\e964";
$icon-Suchen_v1-2: "\e900";
$icon-Drucken_v1-2: "\e901";
$icon-Loeschen_v1-2: "\e902";
$icon-Login_v1-2: "\e903";
$icon-Standort_v1-2: "\e904";
$icon-Warenkorb_v1-2: "\e905";
$icon-Einstellungen_v1-2: "\e906";
$icon-Menue_v1-2: "\e907";
$icon-Information_v1-2: "\e908";
$icon-Kontakt_Telefon_v1-2: "\e909";
$icon-Kontakt_E-Mail_v1-2: "\e90a";
$icon-Ton_v1-2: "\e90b";
$icon-Ton_low_v1-2: "\e965";
$icon-Ton_mute_v1-2: "\e966";
$icon-Vergroessern_v1-2: "\e90c";
$icon-Verkleinern_v1-2: "\e90d";
$icon-Pfeil_rechts_v1-2: "\e90e";
$icon-Pfeil_links_v1-2: "\e90f";
$icon-Externer_Link_v1-2: "\e910";
$icon-Download_v1-2: "\e911";
$icon-Seitenanfang_v1-2: "\e912";
$icon-Weiter_v1-2: "\e913";
$icon-Zurueck_v1-2: "\e914";
$icon-Ausklappen_v1-2: "\e915";
$icon-Einklappen_v1-2: "\e916";
$icon-Schliessen_v1-2: "\e917";
$icon-Uhrzeit_v1-2: "\e918";
$icon-Alarm_v1-2: "\e919";
$icon-Kalender_v1-2: "\e91a";
$icon-Abfahrt-Ankunft_v1-2: "\e91b";
$icon-Home_v1-2: "\e91c";
$icon-Favoriten_v1-2: "\e91d";
$icon-Teilen_v1-2: "\e91e";
$icon-Tickets_v1-2: "\e91f";
$icon-Sparpreis_v1-2: "\e920";
$icon-Liste_v1-2: "\e921";
$icon-Position_v1-2: "\e922";
$icon-Position-bestimmen_v1-2: "\e923";
$icon-Karte_v1-2: "\e924";
$icon-Reisemappe_v1-2: "\e925";
$icon-Kommentieren_v1-2: "\e926";
$icon-Mobil_v1-2: "\e927";
$icon-Personen_v1-2: "\e928";
$icon-Sitzplatz_v1-2: "\e929";
$icon-Reservierung_v1-2: "\e92a";
$icon-U-Bahn_v1-2: "\e92b";
$icon-S-Bahn_v1-2: "\e92c";
$icon-BahnCard_v1-2: "\e92d";
$icon-Datenschutz_v1-2: "\e92e";
$icon-Hilfe_v1-2: "\e92f";
$icon-Achtung_v1-2: "\e930";
$icon-Aktualisieren_v1-2: "\e931";
$icon-Liveauskunft_v1-2: "\e932";
$icon-Impressum_v1-2: "\e933";
$icon-Xing_v1-2: "\e934";
$icon-Twitter_v1-2: "\e935";
$icon-Google-Plus_v1-2: "\e936";
$icon-Facebook_v1-2: "\e937";
$icon-Linked-In_v1-2: "\e938";
$icon-Fernverkehr_v1-2: "\e939";
$icon-Nahverkehr_v1-2: "\e93a";
$icon-Auto_v1-2: "\e93b";
$icon-Bus_v1-2: "\e93c";
$icon-Zug_v1-2: "\e93d";
$icon-Fahrrad_v1-2: "\e93e";
$icon-Strassenbahn_v1-2: "\e93f";
$icon-Fussweg_v1-2: "\e940";
$icon-Flugzeug_v1-2: "\e941";
$icon-Flinkster_v1-2: "\e942";
$icon-Call-a-Bike_v1-2: "\e943";
$icon-Ankunft_v1-2: "\e944";
$icon-Abfahrt_v1-2: "\e945";
$icon-Anschlussmobilitaet_v1-2: "\e946";
$icon-Wagenstandsanzeiger_v1-2: "\e947";
$icon-Dialog_v1-2: "\e948";
$icon-Bahnhof_v1-2: "\e949";
$icon-Zugverbindung_v1-2: "\e94a";
$icon-Dashboard_v1-2: "\e94b";
$icon-Werkzeuge_v1-2: "\e94c";
$icon-Datenbank_v1-2: "\e94d";
$icon-Hinzufuegen_v1-2: "\e94e";
$icon-Abmelden_v1-2: "\e94f";
$icon-Dokument_v1-2: "\e950";
$icon-Artikel_v1-2: "\e951";
$icon-Verschieben_v1-2: "\e952";
$icon-Kopieren_v1-2: "\e953";
$icon-Bearbeiten_v1-2: "\e954";
$icon-Ordner_v1-2: "\e955";
$icon-Zip-Download_v1-2: "\e956";
$icon-Passwortgeschuetzt_v1-2: "\e957";
$icon-Audio_v1-2: "\e958";
$icon-Video_v1-2: "\e959";
$icon-Bilder_v1-2: "\e95a";
$icon-Cloud_v1-2: "\e95b";
$icon-Cloud-Upload_v1-2: "\e95c";
$icon-Play_v1-2: "\e95d";
$icon-Pause_v1-2: "\e95e";
$icon-Stop_v1-2: "\e95f";
$icon-Anhang_v1-2: "\e960";
$icon-Vorschau_v1-2: "\e961";
$icon-Richtig_v1-2: "\e962";
$icon-Falsch_v1-2: "\e963";
